@charset "utf-8";

.sp {
  display: block;
}

.tb,
.pc {
  display: none;
}

img {
	max-width: 100%;
}

/*=======================================
header
=========================================*/

header{
	padding: 40px 0;
  font-size: 8vw;
  text-align: center;
}

header .inner{
	width: 100%;
	margin: 0 auto;
}


/*=======================================
メーター
=========================================*/
#meter {
	display: flex;
	float: right;
	position: static;
	padding: 3%;
}
#meter .meter_box {
	width: 200px;
}

/*=======================================
質問
=========================================*/
#q_title {
	width: 100%;
	clear: both;
	padding: 0 3%;
}
.q_ul li.q_ul_li {
  background: #f1f1f1;
	flex-wrap: wrap;
	align-items: center;
}
.q_ul .q_cell {
	padding: 5%;
}
.q_ul .q_cell.tx_left {
	width: 90%;
}
.q_ul .q_cell_btn {
	width: 100%;
	padding: 3%;
}
.q_ul .q_cell_btn li {
	width: 100%;
	display: flex;
	padding: 0 1%;
}
.q_ul .q_cell_btn li:nth-of-type(1) label,
.q_ul .q_cell_btn li:nth-of-type(2) label,
.q_ul .q_cell_btn li:nth-of-type(3) label,
.q_ul .q_cell_btn li:nth-of-type(4) label,
.q_ul .q_cell_btn li:nth-of-type(5) label,
.q_ul .q_cell_btn li:nth-of-type(6) label {
	padding: 0;
}
.q_ul .q_cell_btn li label {
	width: 100%;
	height: auto;
	font-size: 10px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*奇数行目の背景色を変更しない*/
.q_ul li.q_ul_li:nth-child(even){
	background: #c3d7f0;
}

/*==================================
face
====================================*/
#face .q_cell_btn {
	padding: 0 3%;
}
#face .q_cell_btn li {
	display: flex;
}
#face .q_cell_btn li label {
	display: flex;
	align-items: center;
}

.score {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.wrap {
	position: relative;
  max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
